
{% raw %}
<script type="x-tmpl-mustache" data-template="post">
    <div class="card">
        <div class="card-body d-flex flex-column flex-md-row">
            <div class="col-12 col-md-6 post">
                {{#post}}
                    <blockquote class="embedly-card">
                        <h4><a href="{{link}}">{{message}}</a></h4>
                    </blockquote>
                {{/post}}
            </div>
            <ul class="col-12 col-md-6 list-unstyled clearfix comments">
                {{#comments}}
                    <li {{#owner.same}}class="owner"{{/owner.same}}>
                        <img class="avatar" src="{{owner.avatar}}" /> <a class="link" href="https://instagram.com/{{owner.username}}">{{owner.displayName}}</a>
                        <p class="text">{{comment.text}}</p>
                    </li>
                {{/comments}}
            </ul>
        </div>
        {{#owner}}
        <div class="card-footer d-flex flex-column flex-md-row" data-username="{{username}}">
            {{#avatar}}
            <div class="col avatar d-flex align-items-start">
                <img class="rounded-circle" src="{{avatar}}">
                <div class="info">
                    <div class="name">{{displayName}}</div>
                    <div class="country">{{country}}</div>
                </div>
            </div>
            {{/avatar}}
            <div class="col stats">
                <p><strong>Comments</strong></p>
            </div>
            <div class="col activity">
                <p><strong>Activity</strong></p>
            </div>
        </div>
        {{/owner}}
    </div>
</script>

<script type="x-tmpl-mustache" data-template="last">
    {{#.}}
        {{> post}}
    {{/.}}
</script>
{% endraw %}