
{% raw %}
<script type="x-tmpl-mustache" data-template="stats">
    <div class="col-12 col-md-6 stats">
        <div><strong>Comments</strong></div>
        <div>
            <span><strong>{{receive}}</strong> Received</span>
            <span><strong>{{sent}}</strong> Sent</span>
        </div>
        <div>Most received from </div>
        <div>Most sent to </div>
    </div>
    <div class="col-12 col-md-6 activity">
        <div><strong>Activity</strong></div>
    </div>
</script>

<script type="x-tmpl-mustache" data-template="post">
    <article class="card" data-username="{{username}}">
        <div class="card-body d-flex flex-column flex-md-row">
            <div class="col-12 col-md-6 post">
                {{#post}}
                    <blockquote class="embedly-card">
                        <h4><a href="{{link}}">{{message}}</a></h4>
                    </blockquote>
                {{/post}}
            </div>
            <ul class="col-12 col-md-6 list-unstyled clearfix comments">
                {{#comments}}
                    <li class="comment {{#owner.same}}owner{{/owner.same}}">
                        <img class="avatar" src="{{owner.avatar}}" /> <a class="link" href="https://instagram.com/{{owner.username}}">{{owner.displayName}}</a>
                        <p class="text">{{comment.text}}</p>
                    </li>
                {{/comments}}
            </ul>
        </div>
        {{#owner}}
        <div class="card-footer">
            {{#avatar}}
            <div class="col-12 col-md-4 avatar">
                <div class="d-flex align-items-start">
                    <img class="rounded-circle" src="{{avatar}}">
                    <div class="info">
                        <div class="name">{{displayName}}</div>
                        <div class="country">{{country}}</div>
                    </div>
                </div>
            </div>
            {{/avatar}}
            <div class="col-12 col-md-8 row stats"></div>
        </div>
        {{/owner}}
    </article>
</script>

<script type="x-tmpl-mustache" data-template="latest-posts">
    <h1>Latest Posts</h1>
    {{#.}}
        {{> post}}
    {{/.}}
    {{^.}}
        <p>Nothing to see here</p>
    {{/.}}
</script>

<script type="x-tmpl-mustache" data-template="player-posts">
    <h1>{{player.displayName}}'s Posts</h1>
    {{#.}}
        {{> post}}
    {{/.}}
    {{^.}}
        <p>Nothing to see here</p>
    {{/.}}
</script>

<script type="x-tmpl-mustache" data-template="players">
    {{#.}}
        <li><a href="#/players/{{username}}">{{displayName}}</a></li>
    {{/.}}
    {{^.}}
        <li class="empty">Nothing to see here</li>
    {{/.}}
</script>
{% endraw %}